			h1 {
				text-align: center;
			}

			p {
				text-align: left;
				margin-left: 8%;
				font-style: italic;
			}
			
			.h1Green {
				color: rgb(0, 255, 0);
			}
			
			#large {
				font-size: 50px;
			}
			
			.alignText {
				text-align: left;
				margin-left: 8%;
			}
            
			div {
				border: 2px solid gray;
				padding: 5%;
				height: 200px;
                width: 300px;
                margin: 10px auto;
			}